header{
    width: 100%;
    height: 70px;
    justify-content: space-between;
    box-shadow: #464246;
    margin-top: -10px;
    position:fixed;
    z-index: 1;
    
}
.shadow{
    width: 100%;
    height: 85px;
    
}
.name{
    height: 50px;
    width: 150px;
}
.logo{
    height: 65px;
    width: 65px;
}
.navbar-nav{
    justify-content: left;
    overflow: hidden;

}
.d-flex{
    margin-bottom:2%;
}
.perfilUsuario{
    margin-bottom: 2%;
}
ul{
    list-style-type: none;
    text-decoration: none;
}

#offcanvasNavbar{
    font-family: 'BIZ UDPMincho', serif;
    font-size: larger;
    margin-top: 5px;
   padding-right: 10px;
}

.card-banner{
    padding-top: 40%;
    margin-left:10%;
}
.buho-lector{
    margin-top: 10%;
    margin-left: 25%;
}
.dispositivos{
    margin-left: 15%;
    margin-top:5%;
}

/* --- TIENDA --- */
.tienda{
    padding-top: 8%;
    text-align: center;
    font-size: 60px;
}

#productosEnCarrito{
    margin-left:15%;
    margin-right:15%;    
    font-size: 15px;
    padding-top:4%;
}
.card-body{
    text-align: center;
}

.mb-5 {
    margin-bottom: 10% !important;
}
.card-book{
    background-color: #bbaab8;
    clear: both;
    display: block;
    text-align: center;
    z-index: 0;
}
.carrito{
    margin-left:90%;
}
.offcanvas-header{
    background-color: #e99e75;

}

.carrito-html{
    padding-left: 10%;
    padding-right: 10%;
}


/* --- MI CUENTA --- */
#container{
    padding-top: 5%;
}
#containerPerfil{
    padding-top:15%;
    padding-bottom: 15%;
    margin-left: 25%;
    margin-right: 25%;
}

#gradientCustom{
    background: linear-gradient(#e99e75,#292643)
}
#idForm{
    border: solid 5px #292643;
    background-color: rgba(187, 170, 184);
    width: 580px;
    height: 700px;
    margin-left:27%;
}
#idFormIS{
    border: solid 5px #292643;
    background-color: rgba(187, 170, 184);
    width: 580px;
    height: 500px;
    margin-left:27%;
}
.registrarse{
    padding-top: 10%;
    text-align: center;
    text-decoration: underline;
}
#iniciarSesion{
    padding-top: 3%;
    text-align: center;
    font-size: 20px;
    padding-bottom: 3%;
}
#infoUsuarios{
    width: auto;
    height: auto;
    margin-left:42%;
    margin-top:-7%;
    margin-bottom: 5%;
}
#botonUsuarios{
    width: auto;
    height: auto;
    margin-left:44%;
    margin-bottom: 10%;

}
#divUsuarios{
    font-size: 20px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}
/* --- FOOTER --- */

.footer {
    height: auto;
    width: 100%;
    background-color: rgba(187, 170, 184);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: top; 
}
.footer__name {
    margin-top: -30px;
    margin-left: 10px;
    height: 50px;
    width: 150px; 
}
.logo__footer {
    height: 60px;
    width: 60px;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.col {
    background-color: rgba(187, 170, 184); 
}
.col .h3 {
    background-color: rgba(187, 170, 184);
    text-decoration: underline;
    font-size: 30px;
    margin-left: 5%;
}
.col .item-one {
    background-color: rgba(187, 170, 184);
    font-size: 19px;
    text-align: justify; 
    margin-left: 10%;
}
.col .item-one .footer__nav {
    color: black;
    text-decoration: none;
}
.col .item-one .footer__nav .bi-envelope-fill {
    color: white; 
}
.col .item-one .footer__nav .bi bi-twitter {
    color: white; 
}
.col .item-one .footer__nav .bi bi-instagram {
    color: white; 
}
.col .item-one .footer__nav .bi bi-whatsapp {
    color: white; 
}
.col .item-two {
    font-size: 19px;
    margin-left: 10%;
}
.col .item-two .footer__nav {
    color: black;
    text-decoration: none;}
.copyright {
    background-color: rgba(187, 170, 184);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px; }