/* --- CONTACTO --- */
.contacto{
    padding-top: 10%;
    text-align: center;
    text-decoration: underline;
}
#container3{
    padding-top: 5%;
    #contactoForm{
        border: solid 5px #292643;
        background-color: rgb(187, 170, 184);
        width: 580px;
        height: 410px;
        margin-left:30%;
    }
    margin-bottom: 10%;
}