/* --- HEADER --- */
header{
    width: 100%;
    height: 70px;
    justify-content: space-between;
    box-shadow: #464246;
    margin-top: -10px;
    position:fixed;
    z-index: 1;
    .shadow{
        width: 100%;
        height: 85px;
        
        .encabezado{
            .logo{
                height: 65px;
                width: 65px;
            }
            .name{
                height: 50px;
                width: 150px;
            }
        }
        .navbar{
            #offcanvasNavbar{
                font-family: 'BIZ UDPMincho', serif;
                font-size: larger;
                margin-top: 5px;
                padding-right: 10px;
                ul{
                    list-style-type: none;
                    text-decoration: none;
                    .navbar-nav{
                        justify-content: left;
                        overflow: hidden;
                    }
                }
                .d-flex{
                    margin-bottom:2%;
                }
                .perfilUsuario{
                    margin-bottom: 3%;
                }
            }
        }
    }
}