/* --- PERFIL --- */
#containerPerfil{
    padding-top:15%;
    padding-bottom: 15%;
    margin-left: 25%;
    margin-right: 25%;
    #gradientCustom{
        background: linear-gradient(#e99e75,#292643)
    }
    #datosDelUsuario{
        text-align: center;
    }
}