/* --- TIENDA --- */
.tienda{
    padding-top: 8%;
    text-align: center;
    font-size: 60px;
}
.carrito{
    margin-left:90%;
    .offcanvas-header{
        background-color: #e99e75;
    }
    li {
        list-style: none;
    }
    .imagenEnCarrito{
        width: 75px;
        height: 115px;
        display:flex;
        flex-direction: row;
        justify-content: right;
    }
    
    #contador{
        width:10px;
        text-align: center;
    }
}
.form-check{
    margin-left: 5%;
}
#productosEnCarrito{
    margin-left:15%;
    margin-right:15%;    
    font-size: 15px;
    padding-top:4%;
    .mb-5 {
        margin-bottom: 10% !important;
        .card-body{
            text-align: center;
        }
    }
}